@font-face {
	font-family: Volte Bold Italic;
	src: url(../fonts/Volte-BoldItalic.woff2) format("woff2"),url(../fonts/Volte-BoldItalic.woff) format("woff");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: Volte Light Italic;
	src: url(../fonts/Volte-LightItalic.woff2) format("woff2"),url(../fonts/Volte-LightItalic.woff) format("woff");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: Volte Bold;
	src: url(../fonts/Volte-Bold.woff2) format("woff2"),url(../fonts/Volte-Bold.woff) format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: Volte Semi Bold;
	src: url(../fonts/Volte-Semibold.woff2) format("woff2"),url(../fonts/Volte-Semibold.woff) format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: Volte Medium;
	src: url(../fonts/Volte-Medium.woff2) format("woff2"),url(../fonts/Volte-Medium.woff) format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: Volte Medium Italic;
	src: url(../fonts/Volte-MediumItalic.woff2) format("woff2"),url(../fonts/Volte-MediumItalic.woff) format("woff");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: Volte Light;
	src: url(../fonts/Volte-Light.woff2) format("woff2"),url(../fonts/Volte-Light.woff) format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: Volte;
	src: url(../fonts/Volte-Regular.woff2) format("woff2"),url(../fonts/Volte-Regular.woff) format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: Volte Semi Bold Italic;
	src: url(../fonts/Volte-SemiboldItalic.woff2) format("woff2"),url(../fonts/Volte-SemiboldItalic.woff) format("woff");
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: Volte Italic;
	src: url(../fonts/Volte-RegularItalic.woff2) format("woff2"),url(../fonts/Volte-RegularItalic.woff) format("woff");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}