
.footer {
	background: {
		color: #323233;
		image: url('../images/bg/bg-wave-footer.png');
		position: top center;
		repeat: no-repeat;
		size: contain;
	}
	color: #fff;
	margin: 0 -15px;
	position: relative;
	.banner__title {
		span {
			text-transform: uppercase;
		}
	}
	&__contact {
		.text {
			margin-right: .25rem;
			padding-left: 1rem;
		}
		.button__rangka {
			margin: 0 .5rem;
			width: auto;
			&:hover {
				color: white;
			}
		}
	}
}
.footer__wrapper {
	display: block;
	width: 100%;
	.banner__title {
		display: table;
		margin: 0 auto;
	}
}
.footer__brand {
	height: 100px;
}
.footer__top {
	padding: 5rem 0 3.5rem;
	li {
		list-style-type: none;
		margin: 0;
		padding: 0;
		height: 100px;
	}
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	a {
		color: #fff;
		display: block;
		text-decoration: none;
		&:hover {
			color: #71cbce;
		}
	}
}
.footer__list-upper {
	a {
		text-transform: uppercase;
	}
}
.footer__list-etc {
	display: flex;
	flex-direction: column;
	li {
		align-items: flex-start;
		display: inline-flex;
		height: auto;
		justify-content: flex-start;
		margin-bottom: 1.5rem;
	}
	img {
		height: 16px;
		margin-top: 3px;
		margin-right: 15px;
	}
	svg {
		height: 16px;
		margin-top: 3px;
		margin-right: 15px;
	}
	p {
		margin-bottom: 0;
	}
}
.footer__bottom-inner {
	border-top: 2px solid #71cbce;
	margin: 0 -30px;
	padding: 1.5rem;
}
.footer__bottom {
	p {
		margin-bottom: 0;
		span {
			display: block;
		}
	}
}