.navbar {
	background-color: transparent;
	left: 0;
	padding: 0;
	position: fixed;
	right: 0;
	top: 0;
	transition: all .4s ease;
	z-index: 1030;
	&--scrolled {
		background-color: #323233;
		transition: all .4s ease;
	}
}
.navbar__wrapper {
	width: 100%;
}
.navbar-brand {
	margin-right: 0;
	max-width: 125px;
	padding: 30px 0;
}
.nav-link {
	color: #fff;
	line-height: 92px;
	padding-top: 0;
	padding-bottom: 0;
	text-transform: uppercase !important;
	transition: color .6s ease;
	&.active,
	&:active,
	&:focus,
	&:hover {
		color: #71cbce;
	}
	&image {
		align-items: center;
		display: flex;
		height: 100%;
		transition: all .6s;
		&:hover {
			filter: invert(33%) sepia(50%) saturate(396%) hue-rotate(134deg) brightness(86%) contrast(87%);
		}
	}
}