// xs: 0,
// sm: 576px,
// md: 768px,
// lg: 992px,
// xl: 1200px,
// xxl: 1400px

@include media-breakpoint-down(md) {
	.item__content {
		text-align: center;
		&-services {
			li {
				font-size: 14px;
			}
		}
	}
	.page {
		&__works {
			.works {
				margin-top: 0;
			}
		}
	}
}

@media (min-width:992px) {
	.navbar-menu {
		.nav-item {
			padding: 0 1.5rem;
		}
	}
	.section {
		margin: 0 -15px;
	}
	.banner__text {
		.banner__title {
			font-size: 60px;
			letter-spacing: 12px;
		}
	}
	.banner__face {
		align-items: flex-end;
		margin-right: -6rem;
		svg {
			margin-left: -5rem;
			margin-right: -10rem;
		}
		&--static {
			align-items: flex-start;
			margin-right: 0;
		}
	}
	.intro__inner {
		.item--boxed {
			&:hover {
				.item__image {
					flex: 1 1 0%;
					transition: all .3s cubic-bezier(.83,0,.17,1);
				}
				.item__content {
					display: flex;
					height: 54%;
				}
				.item__content-services {
					li {
						&:first-child {
							span {
								transform: translateY(0);
								transition-delay: 0s;
							}
						}
						&:nth-child(2) {
							span {
								transform: translateY(0);
								transition-delay: .2s;
							}
						}
						&:nth-child(3) {
							span {
								transform: translateY(0);
								transition-delay: .4s;
							}
						}
						&:nth-child(4) {
							span {
								transform: translateY(0);
								transition-delay: .6s;
							}
						}
						&:nth-child(5) {
							span {
								transform: translateY(0);
								transition-delay: .8s;
							}
						}
						&:nth-child(6) {
							span {
								transform: translateY(0);
								transition-delay: 1s;
							}
						}
						&:nth-child(7) {
							span {
								transform: translateY(0);
								transition-delay: 1.2s;
							}
						}
						&:nth-child(8) {
							span {
								transform: translateY(0);
								transition-delay: 1.4s;
							}
						}
						&:nth-child(9) {
							span {
								transform: translateY(0);
								transition-delay: 1.6s;
							}
						}
						&:nth-child(10) {
							span {
								transform: translateY(0);
								transition-delay: 1.8s;
							}
						}
						&:nth-child(11) {
							span {
								transform: translateY(0);
								transition-delay: 2s;
							}
						}
					}
				}
			}
		}
		.item__image {
			flex: 1 1 100%;
			transition: all .3s cubic-bezier(.83,0,.17,1);
		}
		.item__content {
			height: 20px;
			overflow: hidden;
			transition: all .5s ease;
		}
		.item__content-services {
			li {
				overflow: hidden;
				span {
					display: block;
					font-size: 16px;
					transform: translateY(101%);
					transition: .6s;
				}
			}
		}
		.item--nonhover {
			.item__content {
				li {
					font-size: 16px;
				}
			}
		}
	}
	.intro__works-recent {
		margin: 10rem auto 0;
		width: 85%;
	}
	.intro__works {
		.work--boxed {
			width: 45%;
			margin: 2.5%;
			&:hover {
				.work__title {
					opacity: 1;
					transform: translateY(0);
				}
				.work__link {
					opacity: 1;
					>svg {
						opacity: 1;
						transition: all .5s;
					}
				}
				.work__content {
					background: rgba(#71cbce, .8);
				}
			}
		}
		.work__box {
			height: 300px;
			.h2 {
				font-size: 2.8vw;
				letter-spacing: 10px;
			}
			h2 {
				font-size: 2.8vw;
				letter-spacing: 10px;
			}
		}
		.work__box-title {
			margin-bottom: 0;
			padding-bottom: 0;
			justify-content: flex-start;
			align-items: center;
			text-align: left;
		}
		.work__title {
			font-size: 4vw;
			// transform: translateY(-100%);
			opacity: 1;
			transition: all .5s;
		}
		.work__link {
			bottom: 100px;
			opacity: 0;
			overflow: hidden;
			// transform: scale(20);
			>svg {
				opacity: 0;
				transition: al .5s;
			}
		}
	}
	span.line {
		&:after {
			bottom: 15px;
			left: -10%;
		}
	}
	.drawer {
		display: none;
	}
}
@media (min-width:1200px) {
	.with-hand {
		background: url(../images/bg/bg-tangan.png) 1rem top no-repeat;
	}
	.with-rangka {
		background: url(../images/rangka-gray.png) right top / contain no-repeat;
	}
	.banner__face {
		svg {
			width: 120%;
		}
	}
	.intro__inner {
		grid-template-rows: repeat(2,1fr);
		grid-template-columns: repeat(4,1fr);
		.item {
			padding: 22px;
			&:first-child {
				grid-column-start: 1;
				grid-column-end: 3;
				height: auto;
				text-align: left;
				.h2 {
					font-size: 3.2vw;
					letter-spacing: 10px;
				}
				h2 {
					font-size: 3.2vw;
					letter-spacing: 10px;
				}
			}
		}
		.item--boxed {
			&:nth-child(4) {
				grid-column-start: 2;
				grid-column-end: 3;
			}
		}
		.item {
			&--nonhover {
			}
		}
	}
	.intro__works {
		&--2col,
		&--3col {
			flex-direction: row;
			margin: 0;
			width: 100%;
			.work {
				&__box {
					&--title {
						width: 100%;
					}
				}
				&__title {
					font-size: 3vw;
				}
			}
		}
		&--2col {
			.work {
				&__box {
					&-title {
						padding-left: 0;
					}
				}
				&--boxed {
					margin: 2.5%;
					width: 45%;
				}
			}
		}
		&--3col {
			.work {
				&__box {
					&-title {
						padding-left: 50%;
					}
				}
				&--boxed {
					margin: 1.5%;
					width: 30%;
				}
			}
		}
	}
	.visimisi {
		&__content {
			padding: 0 8rem;
			p {
				padding-left: 5rem;
			}
		}
	}
	.client {
		&__logo {
			filter: grayscale(100%) opacity(0.5);
			height: 140px;
			width: 20%;
			transition: all .5s;
			&:hover {
				filter: grayscale(0%) opacity(1);
			}
		}
	}
	.page {
		&__work {
			.intro__inner {
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: 1fr;
				.item {
					&:first-child {
						grid-column: unset;
						text-align: left;
					}
				}
			}
		}
		&__works {
			.works {
				margin-top: 100px;
				position: relative;
				&::before,
				&::after {
					content: "";
					height: 100%;
					pointer-events: none;
					position: absolute;
					top: 0;
					width: 100%;
					z-index: -1;
				}
				&::before {
					background: url(../images/bg/bg-tangan.png) 1rem top / cover no-repeat;
				}
				&::after {
					background: url(../images/rangka-gray.png) right top / 300px no-repeat;
				}
			}
		}
	}
	.footer__wrapper {
		display: table;
		width: auto;
	}
	.footer__list-etc {
		li {
			height: 100px;
			margin-bottom: 0;
		}
	}
	.footer__botttom {
		p {
			span {
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
}
@media (min-width:1400px) {
	.banner__face {
		svg {
			width: 140%;
		}
	}
	.intro__inner {
		.item {
			padding: 22px;
			&:first-child {
				.h2 {
					font-size: 2.8vw;
				}
				h2 {
					font-size: 2.8vw;
				}
			}
		}
	}
}
@media (min-width:1601px) {
	.banner__face {
		img {
			transform: scale(1.4);
		}
		&--static {
			> img {
				transform: none;
			}
		}
	}
}
