@import 'fonts';
@import "../../node_modules/bootstrap/scss/bootstrap";
// @import "../../node_modules/locomotive-scroll/src/locomotive-scroll";

@import 'navbar';
header,
#app,
.drawer {
	opacity: 0;
	transition: opacity .5s;
	&.done-loading {
		opacity: 1;
	}
}
.button__rangka {
	background: transparent;
	border: 0;
	box-shadow: none;
	color: black;
	display: flex;
	outline: none;
	text-decoration: none;
	width: 100%;
	span {
		height: 45px;
		padding: 10px 0;
		&:first-child {
			margin-right: 10px;
		}
	}
	span.round {
		border: 1px solid #71cbce;
		border-radius: 50%;
		width: 45px;
	}
	svg {
		border-radius: 100%;
		font-size: 40px;
		overflow: hidden;
	}
	svg.bi-small {
		.p-icon {
			transform: scale(.5) translate(50%,50%);
		}
	}
	.p-fill {
		fill: rgba(113,203,206,0);
		transition: all .6s cubic-bezier(0,.55,.45,1);
		transform: translateY(-100%);
	}
	.text {
		transition: all .6s cubic-bezier(0,.55,.45,1);
	}
	&:hover {
		.p-fill {
			fill: #71cbce;
			transition: all .6s cubic-bezier(0,.55,.45,1);
			transform: translateY(0);
		}
		.p-icon {
			fill: white;
			transition: all .6s cubic-bezier(0,.55,.45,1);
		}
		.text {
			color:#71cbce;
			transition: all .6s cubic-bezier(0,.55,.45,1);
		}
	}
	&.is-normal {
		.p-icon {
			transform: scale(0.5) translate(0, 0)!important;
		}
	}
}
.button__rangka--white {
	color: #fff;
}
.button--delay {
	overflow: hidden;
	button {
		transform: translateY(100%);
	}
}
.button--delay-900.loaded {
	button {
		transform: translateY(0);
		transition: all 1s cubic-bezier(0,.55,.45,1);
		transition-delay: .9s;
	}
}
.word-wrap {
	overflow-y: hidden;
	padding-left: 1rem;
	.word {
		transform: translateY(100%);
	}
	.word.loaded {
		transition: transform 1s cubic-bezier(0,.55,.45,1);
		transform: translateY(0);
	}
	.word.loaded-0 {
		transition-delay: 0ms;
	}
	.word.loaded-1 {
		transition-delay: .3s;
	}
	.word.loaded-2 {
		transition-delay: .6s;
	}
}
.word-wrap.line {
	.word {
		display: inline-table !important;
		position: relative;
		z-index: 1;
		&:after {
			content: "";
			background-color: #71cbce;
			height: 13.3%;
			position: absolute;
			bottom: 24%;
			left: -5%;
			z-index: -1;
		}
	}
	.word.loaded {
		&:after {
			animation: lineanimation 2s ease 1s forwards;
		}
	}
}
.c-scrollbar {
	z-index: 3;
}
button {
	&:focus {
		outline: none;
	}
}
a {
	color: #fff;
	transition: color .6s ease;
	&:active {
		color: #71cbce;
	}
	&:focus {
		color: #71cbce;
	}
	&:hover {
		color: #71cbce;
	}
}
a.active {
	color: #71cbce;
}
.btn {
	&__rangka {
		background-color: transparent;
		border-color: #71cbce;
		border-radius: .75rem;
		color: #323232;
		font-family: 'Volte Semi Bold';
		padding: .75rem 0.75rem;
		width: 200px;
		transition: all .6s cubic-bezier(0,.55,.45,1);
		&:hover,
		&:focus {
			background-color: #71cbce;
			border-color: #71cbce;
			box-shadow: 0 0 0 0.25rem rgba(#71cbce, 0.25);
			color: white;
			transition: all .6s cubic-bezier(0,.55,.45,1);
		}
	}
}
.form {
	&__label {
		left: 50%;
		pointer-events: none;
		position: absolute;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		transition: all .5s;
	}
	&__row {
		margin-bottom: 2.5rem;
		overflow: hidden;
		position: relative;
		text-align: center;
	}
	&-label {
		color: #323232;
		font-family: 'Volte Semi Bold';
	}
	&-control {
		color: #323232;
		font-family: 'Volte Semi Bold';
		font-size: 18px;
		padding: 1rem 0.75rem;
		text-align: center;
		&::placeholder {
			color: #323232;
			font-family: 'Volte Semi Bold';
			font-size: 18px;
		}
	}
	&__text,
	&__textarea {
		&:focus {
			&:focus {
				border-color: #71cbce;
				box-shadow: 0 0 0 0.25rem rgba(#71cbce, 0.25);
			}
		}
	}
}
.scrolled-down {
	transition: all .3s ease-in-out;
	transform: translateY(-100%);
}
.scrolled-up {
	transition: all .3s ease-in-out;
	transform: translateY(0);
}
.prx {
	background-attachment: fixed;
	background-position: 1rem;
	background-size: cover;
}
.parallax {
	position: fixed;
	top: 0;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	width: 100%;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.parallax__container {
	clip: rect(0,auto,auto,0);
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -100;
}
.row {
	// margin-left: -1rem;
	// margin-right: -1rem;
}
body {
	overflow-x: hidden;
	scroll-behavior: smooth;
	background: #fff;
	color: #323231;
	font-family: Volte;
	font-size: 18px;
}
html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}
body.with-wave {
	background: url(../images/bg/bg-wave.png) top/cover no-repeat #fff;
}
// header,
// #app {
// 	opacity: 0;
// 	pointer-events: none;
// 	transition: all .5s;
// 	&.loaded {
// 		opacity: 1;
// 		pointer-events: auto;
// 	}
// }
.page {
	&__about {
		.section {
			background-color: transparent;
		}
	}
	&__work {
		.intro {
			&__inner {
				grid-template-columns: 1fr;
				grid-template-rows: repeat(2, 1fr);
				.item {
					&:first-child {
						grid-column-start: 1;
						grid-column-end: 3;
						display: grid;
						align-items: center;
						height: auto;
						text-align: center;
					}
					&--nonhover {
						margin: 0 auto;
						max-width: 320px;
						width: 316px;
						&::before {
							top: -110%!important;
						}
						.item {
							&__image {
								flex: 1 1 0%!important;
								img {
									transform: scale(1)!important;
								}
							}
							&__content {
								display: flex!important;
								height: 54%!important;
								li {
									text-align: center;
									span {
										transform: translateY(0)!important;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	&__works {
		.works {
			margin-top: 5rem;
		}
	}
}
.banner {
	background: #323233;
	color: #fff;
	&--work {
		background: {
			color: white;
			position: center;
			repeat: no-repeat;
			size: cover;
		}
		&::before {
			background: rgba(0, 0, 0, .3);
			content: "";
			height: 100%;
			pointer-events: none;
			position: absolute;
			top: 0;
			width: 100%;
		}
		.banner {
			&__wrapper {
				padding-top: 90px;
			}
			&__title {
				z-index: 2;
			}
		}
	}
}
.banner__wrapper {
	height: 100vh;
}
.banner__inner {
	height: 100%;
	width: 100%;
}
.banner__face {
	z-index: 2;
	align-items: flex-start;
	display: flex;
	img {
		width: 100%;
	}
	svg {
		width: 100%;
	}
}
.banner__text {
	z-index: 2;
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	justify-content: center;
	.banner__title {
		font-family: Volte Bold;
		font-size: 30pt;
		letter-spacing: 8px;
		line-height: 1;
		.word {
			display: block;
		}
		.word-wrap {
			display: block;
		}
	}
}
#liquid {
	position: absolute;
	pointer-events: none;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	&:after {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: "";
		background: #323233;
		position: absolute;
		transition-delay: 1s;
		transition: left 2s ease-in-out;
	}
}
#liquid.is-loaded {
	&:after {
		transition-delay: 1s;
		transition: left 2s ease-in-out;
		left: 100%;
	}
}
.intro__inner {
	display: grid;
	grid-gap: 10px;
	grid-template-rows: minmax(100px,180px);
	width: 100%;
	.item {
		height: 400px;
		position: relative;
		&:first-child {
			grid-column-start: 1;
			grid-column-end: 3;
			display: grid;
			align-items: center;
			height: 130px;
			text-align: center;
			.h2 {
				font-family: Volte Bold;
				span {
					&:not(.line) {
						display: block;
					}
				}
			}
			h2 {
				font-family: Volte Bold;
				span {
					&:not(.line) {
						display: block;
					}
				}
			}
		}
	}
	.item--boxed {
		background-color: #ebebeb;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		padding: 1rem;
		transition: all .3s;
		&:before {
			content: "";
			background-color: #71cbce;
			top: -110%;
			height: 100%;
			left: 0;
			position: absolute;
			transition: all 1s cubic-bezier(.83,0,.17,1);
			width: 100%;
			z-index: 1;
		}
		&:hover {
			&:before {
				top: 0;
				transition: all 1s cubic-bezier(.83,0,.17,1);
			}
			.item__image {
				img {
					transform: scale(1);
					transition: transform .3s;
				}
			}
		}
	}
	.item__content {
		flex-direction: column;
		justify-content: flex-end;
		z-index: 2;
	}
	.item__image {
		z-index: 2;
		align-items: center;
		flex: 1;
		flex-direction: column;
		display: flex;
		justify-content: center;
		img {
			transform: scale(.76);
			transition: transform .3s;
		}
	}
	.item__content-title {
		font-family: Volte Bold;
		margin-bottom: 0;
		text-transform: uppercase;
	}
	.item__content-services {
		list-style-type: none;
		margin: 0;
		padding: 0;
		li {
			margin: 0;
			padding: 0;
		}
	}
}
.intro__works-recent {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-top: 3rem;
	width: 100%;
}
.intro__works {
	.work {
		position: relative;
	}
	.work__cover {
		overflow: hidden;
		padding-top: 125%;
		position: relative;
		>img {
			left: 0;
			right: 0;
			position: absolute;
			top: 0;
			transform: scale(1.1);
			width: 100%;
		}
		&:after {
			content: "";
			position: absolute;
			height: 100%;
			left: 0;
			width: 100%;
			z-index: -1;
			background-color: #71cbce;
			top: -110%;
			transition: all 1s cubic-bezier(.83,0,.17,1);
		}
	}
	.work__title {
		color: white;
		font-size: 12vw;
		font-family: Volte Bold;
		letter-spacing: 15px;
		text-transform: uppercase;
		text-shadow: 8px 1px 87px rgba(104, 73, 10, 1);
	}
	.work__content {
		padding: 4rem 2rem;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		transition: all .5s;
	}
	.work__box {
		justify-content: center;
		margin-bottom: 2rem;
		padding: 2rem;
		text-align: center;
	}
	.work__box-title {
		.h2 {
			font-family: Volte Bold;
			margin-bottom: 0;
			span {
				display: block;
			}
		}
		h2 {
			font-family: Volte Bold;
			margin-bottom: 0;
			span {
				display: block;
			}
		}
	}
	.work__box-more {
		justify-content: center;
		align-items: center;
	}
	.work__link {
		justify-content: center;
		align-items: center;
		// background: #71cbce;
		width: 70px;
		height: 70px;
		border-radius: 100%;
		transform: scale(1);
		transition: all .5s;
		display: flex;
		font-size: 40px;
		color: #fff;
		position: absolute;
		left: calc(50% - 35px);
		z-index: 2;
		>svg {
			opacity: 1;
		}
	}
	.work--boxed {
		margin-bottom: 2rem;
		overflow: hidden;
		position: relative;
		width: 100%;
		&:after {
			content: "";
			position: absolute;
			height: 100%;
			left: 0;
			width: 100%;
			z-index: -1;
			background-color: #71cbce;
			top: -110%;
			transition: all 1s cubic-bezier(.83,0,.17,1);
			display: none;
		}
		&:before {
			// content: "";
			position: absolute;
			height: 100%;
			left: 0;
			width: 100%;
			z-index: -1;
			background-color: #ebebeb;
			top: 0;
		}
		&:hover {
			.work__cover {
				&:after {
					top: 0;
					transition: all 1s cubic-bezier(.83,0,.17,1);
					display: none;
				}
			}
		}
	}
	&--3col {
		.work__box-more {
			height: auto!important;
			width: 100%;
		}
	}
}
#app {
	transition: filter .6s ease;
}
.section {
	background-color: #fff!important;
	overflow: hidden;
	padding: 6rem 0;
	position: relative;
	z-index: 2;
	&--last {
		&::after {
			display: none;
			background: {
				image: url('../images/bg/bg-wave-bottom.png');
				position: bottom center;
				repeat: no-repeat;
				size: contain;
			}
			content: "";
			height: 800px;
			left: 0;
			pointer-events: none;
			position: absolute;
			bottom: 0;
			width: 100%;
			z-index: -1;
		}
	}
}
body.menu-is-open {
	#app {
		filter: blur(11px);
		z-index: 1;
		pointer-events: none;
	}
	.drawer {
		z-index: 5;
	}
	.drawer__menu {
		opacity: 1;
	}
	.drawer__wrapper {
		max-height: 100vh;
		box-shadow: 0 -2px 10px rgba(0,0,0,.2);
		&:before {
			opacity: 1;
		}
	}
}
.client {
	&s {
		display: flex;
	}
	&__logo {
		align-items: center;
		cursor: pointer;
		display: flex;
		height: 90px;
		justify-content: center;
		margin-bottom: 2rem;
		width: 25%;
	}
}
.contact {
	text-align: center;
	&__header {
		.banner__title {
			font-size: 27pt;
		}
	}
}
.drawer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 2000;
}
.drawer__line {
	height: 8px;
	display: table;
	width: 150px;
	background: #71cbce;
	margin: 0 auto;
}
.drawer__menu {
	opacity: 0;
	transition: all .5s cubic-bezier(.83,0,.17,1);
	nav {
		list-style: none;
		padding: 3rem 0 1.5rem;
		text-align: center;
	}
	a {
		color: #71cbce;
		transition: all .3s;
		font-size: 36px;
		text-decoration: none;
		text-transform: uppercase;
	}
}
.drawer__wrapper {
	padding: 1rem;
	border-radius: 20px 20px 0 0;
	max-height: 40px;
	overflow: hidden;
	position: relative;
	z-index: 2;
	transition: all .5s cubic-bezier(.83,0,.17,1);
	&:before {
		transition: all .5s cubic-bezier(.83,0,.17,1);
		content: "";
		width: 100%;
		height: 100%;
		background: #fff;
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}
}

@keyframes lineanimation {
	0% {
		width: 0;
	}
	to {
		width: 105%;
	}
}

@import 'footer';
@import 'responsive';