.xto {
    .thumbnail {
        &--page {
            margin: 0 -15px;
            padding: 1rem 1rem 0;
            margin-bottom: 5rem;
            position: relative;
            &one {
                .thumbnail {
                    margin-bottom: 1rem;
                }
            }
            &two {
                background: transparent!important;
                margin-top: 10rem;
                overflow: visible;
                z-index: 2;
                .thumbnail {
                    transform: scale(1.8);
                    transform-origin: bottom;
                    img {
                        filter: drop-shadow(28px 26px 70px rgba(0, 0, 0, 0.18));
                    }
                }
            }
            &three {
                margin-bottom: 10rem;
                overflow: visible;
                z-index: 1;
                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    width: 100%;
                }
                &::before {
                    background: #fdb82d;
                    height: calc(100% + 23rem);
                    top: -15rem;
                }
                .thumbnail {
                    display: flex;
                    flex: 1;
                    justify-content: center;
                    margin-bottom: 1rem;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .xto {
        .thumbnail {
            &--page {
                &one {
                    .thumbnail {
                        margin-bottom: 5rem;
                    }
                }
                &two {
                    margin-top: 0;
                    .thumbnail {
                        transform: scale(1);
                    }
                }
                &three {
                    &::before {
                        top: -19rem;
                    }
                }
            }
        }
    }
}