.ketofit {
    .thumbnail {
        margin-bottom: 1rem;
        position: relative;
        &--page {
            margin: 0 -15px;
            padding: 1rem 1rem 0;
            margin-bottom: 5rem;
            position: relative;
            &one {
                background: transparent!important;
                margin-bottom: 0;
                overflow: visible;
                z-index: 2;
                .thumbnail {
                    transform: scale(2);
                    transform-origin: bottom;
                }
            }
            &two {
                margin-top: -2rem;
                overflow: visible;
                z-index: 1;
                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    width: 100%;
                }
                &::before {
                    background: #344e87;
                    height: calc(100% + 17rem);
                    top: -9.5rem;
                }
                .thumbnail {
                    display: flex;
                    flex: 1;
                    justify-content: center;
                    margin-bottom: 1rem;
                }
            }
            &three {
                padding-top: 5rem;
                .thumbnail {
                    margin: 0;
                    padding: 0;
                }
            }
        }
        &--grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            &text {
                align-items: flex-end;
                display: flex;
                padding: 0 3rem 2rem !important;
            }
        }
        &__row {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
        }
    }
}

@media (min-width: 992px) {
    .ketofit {
        .thumbnail {
            &--page {
                &one {
                    .thumbnail {
                        transform: scale(1);
                        transform-origin: bottom;
                    }
                }
                &two {
                    .thumbnail {
                        padding-left: .5rem;
                        padding-right: .5rem;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}