.poze {
    .thumbnail {
        margin-bottom: 1rem;
        position: relative;
        &--page {
            margin: 0 -15px;
            padding: 1rem 1rem 0;
            margin-bottom: 5rem;
            position: relative;
            &one {
                .thumbnails {
                    background: #7d237d!important;
                    overflow: hidden;
                }
            }
            &two,
            &three {
                .thumbnails {
                    background: #ebebeb!important;
                }
            }
            &three {
                background: transparent!important;
                color: #7d237d;
                margin-bottom: 0;
                z-index: 2;
                .thumbnail {
                    &__title {
                        padding: 2rem 0;
                    }
                }
            }
            &four {
                overflow: visible;
                z-index: 1;
                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    width: 100%;
                }
                &::before {
                    background: #727ae7;
                    height: calc(100% + 3.7rem);
                    top: -9.5rem;
                }
                .thumbnail {
                    padding-top: 5rem;
                    margin-bottom: 0;
                }
            }
        }
        &--shadow {
            img {
                box-shadow: 28px 26px 70px 0px rgba(black, 0.18);
            }
            &imac {
                display: inline-block;
                position: relative;
                top: -4rem;
                &::before {
                    background: {
                        image: url('../../work/poze/thumbnails-4/imac-shadow.png');
                        position: right bottom;
                        repeat: no-repeat;
                        size: 100%;
                    }
                    bottom: -10%;
                    content: "";
                    height: 100%;
                    position: absolute;
                    right: 36%;
                    width: 100%;
                    z-index: -1;
                }
            }
        }
        &--popup {
            display: none;
        }
        &__row {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
        }
        &__title {
            color: #7d237d;
            font: {
                family: "Volte semi bold";
                size: 32px;
            }
        }
    }
}

@media (min-width: 992px) {
    .poze {
        .thumbnail {
            &--pageone {
                .thumbnails {
                    padding-top: 3rem;
                }
                .thumbnail {
                    &__row {
                        flex-direction: row;
                        .thumbnail {
                            display: flex;
                            margin-bottom: 3rem;
                        }
                        &:nth-child(odd) {
                            .thumbnail {
                                padding-left: 5%;
                                width: 54%;
                                &:nth-child(even) {
                                    width: 46%;
                                }
                            }
                        }
                        &:nth-child(even) {
                            .thumbnail {
                                padding-right: 5%;
                                width: 46%;
                                &:nth-child(even) {
                                    width: 54%;
                                }
                            }
                        }
                    }
                }
            }
            &--pagetwo {
                .thumbnail {
                    display: flex;
                    margin-bottom: 0;
                    &__row {
                        &:nth-child(odd) {
                            .thumbnail {
                                justify-content: flex-start;
                                padding-left: 7rem;
                            }
                        }
                        &:nth-child(even) {
                            .thumbnail {
                                justify-content: flex-end;
                                padding-right: 7rem;
                            }
                        }
                    }
                }
            }
            &--pagethree {
                .thumbnail {
                    &__title {
                        padding: 10rem 0 0;
                    }
                }
            }
            &--pagefour {
                &::before {
                    height: calc(100% + 1rem);
                }
            }
            &--shadow {
                &imac {
                    display: none;
                    padding-left: 5rem;
                }
            }
            &--popup {
                display: block;
                height: 647px;
                overflow: visible;
                position: relative;
                // transform: scale(1.3);
                img {
                    left: -12rem;
                    position: absolute;
                    top: -6rem;
                    transition: transform .8s ease;
                }
            }
        }
    }
}